.App {
	text-align: center;
}

::-webkit-scrollbar {
	width: 10px;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/*<!-------------------------------------------------------------------->*/
/*<!--------------------------------APP--------------------------------->*/
/*<!-------------------------------------------------------------------->*/

.app-bg {
	background-color: #000064d0;
	height: auto;
	left: 0;
	right: 0;
	position: absolute;
	background-size: cover;
}

/*<!-------------------------------------------------------------------->*/
/*<!---------------------------GENERATE TEAM---------------------------->*/
/*<!-------------------------------------------------------------------->*/

.courtImg {
	z-index: 0;
}

.courtText {
	z-index: 1;
	font-size: 1.2em;
	margin-top: -178px;
}

.submitDrops {
	z-index: 1;
	font-size: 1.2em;
	margin-top: -140px;
}
